<!DOCTYPE html>
<html>
<head>
	<title>Recycling Game</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/home.js"></script>
</head>
<body>
	<form id="form_user" action="" method="post">
		<input type="text" name="nickname" placeholder="introduce un alias">
		<input type="hidden" name="level">
		<div class="button_games">
			<input type="button" name="bt_first_game" value="1st-Game">
			<input type="button" name="bt_second_game" value="2nd-Game">
		</div>
		<div class="button_levels" style="display: none;">
			<input type="button" name="bt_second_easy" value="Básico">
			<input type="button" name="bt_second_medium" value="Medio">
			<input type="button" name="bt_second_hard" value="Alto">
		</div>
	</form>
</body>
</html>